/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY STRUCTURE */

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*------------game container--------------*/
.game-container{
    width: 60%;
    height: 70%;
    background-color: #f0f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------categories----------- */
.categories{
    width: 30%;
    height: 40px;
    border: 1px solid #000;
}

/* ---------correct letters----------- */
.correct-letters{
    width: 60%;
    height: 50px;
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
}
.correct-letters input{
    width: 100%;
}

/* ---------alphabet----------- */
.alphabet{
    display: flex;
}

/* ---------letters [alphabet]----------- */
.alphabet .letters{}

/* ----------incorrect letters [alphabet]--------- */
.incorrect-letters{}

/* ---------chances left----------- */
.chances-left{}

/* ---------clue----------- */
.clue{}



/* GAME BUTTONS */



/* ---------buttons----------- */
.buttons{}

/* ---------hint button [buttons]----------- */
.buttons #hint-btn{}

/* ---------restart button [button]----------- */
.buttons #restart-btn{}